
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/" class="btn btn-link text-danger">
            <i class="fa fa-arrow-circle-o-left"></i> BACK
            </a>
        </div>
        
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">
                <span class="text-success"><i class="fa fa-envelope-open"></i></span> Send us a Message
            </h1>
            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="form-goup">
                    <label for="firstName">First Name </label>
                    <input 
                        type="text"
                        class="form-control"
                        name="firstName"
                        [ngClass]="{'is-invalid':firstName.errors && firstName.touched}"
                        #firstName="ngModel"
                        [(ngModel)]="msg.firstName"
                        required
                        >
                <div [hidden]="!firstName.errors?.required" class="invalid-feedback">
                    First Name is required
                </div>       
                </div>
                <div class="form-goup">
                    <label for="lastName">Last Name </label>
                    <input 
                        type="text"
                        class="form-control"
                        name="lastName"
                        [(ngModel)]="msg.lastName"
                        [ngClass]="{'is-invalid':clientLastName.errors && clientLastName.touched}"
                        #clientLastName="ngModel"
                       
                        required
                        >
                <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
                    Last Name is required
                </div>       
                </div>
                <div class="form-goup">
                    <label for="email">Email</label>
                    <input 
                        type="email"
                        class="form-control"
                        name="email"
                        [ngClass]="{'is-invalid':clientEmail.errors && clientEmail.touched}"
                        #clientEmail="ngModel"
                        [(ngModel)]="msg.email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                        >
                        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
                            Email is required
                        </div>
                        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
                            Email is not valide
                        </div>
                </div>

                <div class="form-group">
                    <label for="body">Message </label>
                    <textarea class="form-control"  rows="3" 
                    name="body"
                    #message="ngModel"
                    [(ngModel)]="msg.body"
                    [ngClass]="{'is-invalid':message.errors && message.touched}"
                    required
                    ></textarea>
                    <div [hidden]="!message.errors?.required" class="invalid-feedback">
                        The Message is required
                    </div>
                  </div>
                
                <input type="submit" value="Send" class="btn btn-success btn-block">

            </form>
            
        </div>
    </div>


