<div class="col-md-6">
    <a routerLink="/messages" class="btn btn-link text-danger">
    <i class="fa fa-arrow-circle-o-left"></i>
    Back
    </a>
</div>

<div class="card" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-user"></i> {{msg.firstName | uppercase}} {{msg.lastName | uppercase}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{msg.email}}</h6>
      <p class="card-text">
        {{msg.body}}
      </p>
      <p class="card-text text-secondary">
        {{msg.date | date}} at {{msg.houre}}
      </p>
      <a (click)="deleteMessage()" class="btn btn-danger"><i class="fa fa-ban"></i> Delete</a>
    </div>
  </div>
