

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-4" *ngFor="let item of items">
      <div class="card h-100">
        <img
        [src]="item.image1"
          class="card-img-top" 
          [alt]="item.name"
          style="max-height: 180px"
          routerLink="item/{{item.id}}"
        />
        <div class="card-body">
          <h5 class="card-title">{{item.name | uppercase}}</h5>
          <p class="card-text text-secondary">
            {{item.description | lowercase}}
           </p>
          <p class="card-text text-secondary">
            {{item.price | currency:"MAD ":"symbol"}}
           </p>
           
        </div>
        <a routerLink="item/{{item.id}}" class="btn btn-outline-info"><i class="fa fa-arrow-circle-o-right"></i> Details</a>
        
        
      </div>
    </div>    
    </div>



