
<div class="row">
    <div class="col-md-6">
      <h2><i class="fa fa-list"></i> My Reservations</h2>
    </div>
</div>
  <div class="table-responsive-sm">
  <table  class="table table-striped">
  <thead class="thead-invers">
    <tr>
      <th>Dish</th>
      <th>Date</th>  
      <th>Manage You Reservations </th>        
      <th>Admin Validation</th> 
    </tr>
    
    <tr *ngFor="let reservation of MyReservations">
      <td>{{reservation.name}}</td>
      <td>{{reservation.dateOfCommande | date}}</td>   
      <td>
        <a (click)="deleteReservation(reservation.id)" class="btn btn-danger mr-2"><i class="fa fa-ban"></i> Delete</a>
        <a routerLink="UpdateMyReservation/{{reservation.id}}" class="btn btn-info"><i class="fa fa-refresh"></i> Update</a>
      </td>
      <td>
        <span class="text-success"><i class="fa fa-check ml-5" *ngIf="reservation.valideCommande"></i></span>
        <span class="text-danger"><i class="fa fa-pause ml-5" *ngIf="!reservation.valideCommande"></i></span>
      </td>
    </tr>
  
  </thead>
  </table>
  </div>

  